<configuration>
  <property name="LOGS_ROOT_PATH" value="/var/log/spring"/>

  <appender name="APP_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS_ROOT_PATH}/app.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOGS_ROOT_PATH}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>7</maxHistory>
    </rollingPolicy>

    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <timeZone>Asia/Seoul</timeZone>
        </timestamp>
        <logLevel>
          <fieldName>level</fieldName>
        </logLevel>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <threadName>
          <fieldName>thread</fieldName>
        </threadName>
        <mdc/>
        <message/>
        <arguments/>
        <stackTrace/>
      </providers>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="APP_LOG_FILE"/>
  </root>
</configuration>
